<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="kr.co.danaonda.user.domain.User" alias="User"/>
	</typeAliases>
	<mappers>
		<mapper resource="mappers/user-mapper.xml"/>
<!-- 		<mapper resource="mappers/notice-mapper.xml"/> -->
	</mappers>
</configuration>