table {
	width: 800px;
	border: 1px solid black;
	border-collapse: collapse;
}

th, td {
	border: 1px solid black;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 32px;
    padding: 0 24px;
}
.category img {
    width: 32px;
    height: 32px;
    margin-right: 40px;
}

.logoImg img {
    width: 32px;
    height: 32px;
    margin-right: 5px;
}

.title {
    display: flex;
    align-items: center;
    height: 32px;
    width: fit-content;
    font-size: 32px;
    font-weight: bold;
}

.login_register_box {
    display: flex;
    align-items: center;
    margin-left: auto;
    width: 180px;
}
.login_register_box .login {
    margin-right: 8px;
    cursor: pointer;
}

.login_register_box .vertical_devider {
    width: 2px;
    height: 20px;
    margin-right: 8px;
    background-color: gray;
}

.login_register_box .register {
    display: flex;
    align-items: center;
    width: fit-content;
    height: 32px;
    min-width: 80px;
    margin-right: auto;
    cursor: pointer;
}
.noticeMain {
	display: flex;
    flex-direction: column;
    width: 1000px;
    margin: auto;
}

.noticeList {
    display: flex;
    width: 100%;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
}
.noticeInsert {
	display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* ---------------------팝업 메뉴------------------ */

body {
    min-height: 100vh;
    padding: 3rem;
}

details {
    max-width: 12rem;
    position: relative;
}

summary {
    list-style: none;
    cursor: pointer;
}

summary::after {
    content: '☰';
    position: relative;
    font-size: 2rem;
    margin-right: 20px;
}

details[open] summary::after {
    content: '×';
}

details[open] summary::before {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

ul {
    position: absolute;
    width: calc(100vw - 190px);
    left: -32px;
    top: 2.5rem;
    list-style: none;
    padding: 0;
    padding: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 1px 2px hsla(220, 10%, 20%, 0.5), 0 2px 6px hsla(220, 10%, 20%, 0.2);
    background-color: #fff;
}

ul::before {
    content: '';
    position: absolute;
    top: -1.45rem;
    left: 2rem;
    width: 0;
    height: 0;
    border: 0.75rem solid transparent;
    border-bottom-color: #fff;
    filter: drop-shadow(0 -2px 1px hsla(220, 10%, 20%, 0.1));
}

* {
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    color: hsl(220, 10%, 20%);
    background-color: hsl(220, 10%, 98%);
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
