.mainDiv {
    display: flex;
    margin-top: 40px;
    gap: 40px;
    justify-content: space-evenly;
}
.productDetailDiv {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: auto;
    /* background-color: aqua; */
    gap: 100px;
    align-items: center;
}
.productImg {
    display: flex;
}

.buyDivWrapper {
    max-width: 500px;
    height: auto;
}
.buyDiv {
    position: sticky;
    padding: 20px;
    top: 80px;
    background-color: #ccc;
}
.buyDiv hr {
    width: 100%;
}
.buyLayout {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.productName {
    display: flex;
    font-size: 40px;
    margin-top: 30px;
}
.priceDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.countDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.count #productCount {
    width: 100px;
    height: 30px;
}
.deliWayDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.deliWay select {
    width: 100px;
    height: 30px;
}
.totalPriceDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 25px;
    font-weight: bolder;
}
.btnDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
button.buyBtn {
    align-self: center;
    width: 100px;
    height: 40px;
    background-color: rgb(123, 49, 245);
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button.saveBtn {
    align-self: center;
    width: 100px;
    height: 40px;
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}